body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}
/*...............start menu-Bar area............*/
.top-bar ul{
    margin: 0;
    padding: 0;
    background-color:#ededed;
    overflow: hidden;
}
.top-bar li{
    float: right;
    list-style-type: none;
    margin: 10px 20px;
    font-weight: 700;
    text-transform: capitalize;
}

/*................End menu-Bar area...............*/

/*.................start header area...............*/

.header-area{
    padding-bottom: 50px;
}

.left-area{
    width: 40%;
    margin: 50px 20px;
    padding: 10px;
    float: left;
}
.left-area h1{
    font-size: 55px;
    text-transform: capitalize;
    line-height: 15px;
}
.left-area h2{
    font-size: 45px;
    text-transform: capitalize;
    color: #f79067;
}
.left-area p{
    text-align: justify;
    padding-bottom: 10px;
}

.btn{
    text-decoration: none;
    background-color: lightsalmon;
    background-image: linear-gradient(360deg,#6d60e4,#540ce4);
    padding: 7px 25px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 5px;  
    letter-spacing: 0.1em; 
    transition: 0.5s;
}

.btn:hover{
    background-color: lightsalmon;
    background-image: linear-gradient(360deg,#6b6765,#1f1918);
    letter-spacing: 0;
}
.right-area img{
    width: 50%;
    margin:50px 20px;
}

/*.................End header area...............*/

/*.................Start About Area..............*/

.about-area{
    overflow: hidden;
    padding-bottom: 100px;
}

.shoe-area img{
    width:40%;
    float: left;
    margin: 30px 20px;
    padding-left: 10px;
}
.text-area{
    width: 40%;
    float: right;
    margin: 50px 60px;
    padding: 10px;
}
.text-area h1{
    font-size: 55px;
    text-transform:uppercase;
    line-height: 20px;
    font-weight: 800;
}
.text-area p{
    text-align: justify;
    padding-bottom: 10px;
}
.btn1{
    text-decoration: none;
    background-color: lightsalmon;
    background-image: linear-gradient(360deg,#e9916e,#f7583c);
    padding: 7px 25px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 0.1em;
    transition: 0.5s;
}
.btn1:hover{
    background-color: lightsalmon;
    background-image: linear-gradient(360deg,#6b6765,#1f1918);
    letter-spacing: 0;
}

/*.................End About Area..............*/



/*.................Start project Area..............*/

.project-area{
    background-color: #ededed;
    padding: 100px 0;
    margin-bottom: 100px;
    
    overflow: hidden;
    
}
.text h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Xanh Mono', monospace;
    letter-spacing: 0.5em;
    transition: 1s;
}
.text h2:hover{
    letter-spacing: 0;
    cursor: pointer;
}
.text{
    padding-bottom: 50px;
}
.mark{
    font-size: 55px;
    color: tomato;

}
.main-image{
    width:25%;
    background: white;
    margin: 20px;
    margin-bottom: 200px;
    border-radius: 10px;
    float: left;
    box-shadow:10px 10px 20px #8d8d8d ;
    transition: 0.5s;
}
.main-image:hover{
    box-shadow: none;
    background-color:#ededed ;
}
.first-image img{
    width: 95%;
    padding: 10px 10px;
}
.pragraph{
    padding: 20px 10px;
}
.pragraph h3{
    color: #a24ee6;
    font-family: 'Xanh Mono', monospace;
    padding-left: 10px;
}
.pragraph p{
    text-align: justify;
}
.box-wrapper{
    margin-left: 170px;
}



/*.................End project Area..............*/


/*--.................Start Footer Up Area..............*/  

.email-submit{
    width: 90%;
    margin-left: 5%;
    position: relative;
    margin-bottom: -100px;
}
.email-area{
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
    background-color: orange;
    background-image: linear-gradient(180deg,#938bdf,#540ce4);
    border-radius: 5px;
    padding-bottom: 30px;
    box-shadow: 20px 20px 40px;
}
.submit-box{
    width: 30%;
    float: left;
    padding-left:25px;
    overflow: hidden;
}
.submit-box h3{
    color: #000000;
    text-transform: uppercase;
    font-weight: 800;
}
.submit-box p{
    font-size: 13px;
}
#follow-box{
    margin-left: 5px;
}
#first{
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    margin-bottom: 15px;
}
#second{
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
    width: 100PX;
}
.follow-icon a{
    width: 30px;
    height: 30px;
    display: grid;
    border: 1px solid white;
    float: left;
    place-items: center;
    border-radius: 100%;
    text-decoration: none;
    margin-right: 15px;
    color: #000000;
}


/*--.................End Footer Up Area..............*/  

/*.................Start Footer Area..............*/ 

#footer{
    background-color: #3333c9;
    background-image: linear-gradient(360deg,#3333c9,tomato);
    

}
.bio-data{
    width: 80%;
    margin-left: 10%;
    padding-top: 100px;
    overflow: hidden;
    padding-bottom: 20px;
}
.bio{
    width: 90%;
}

.bio-left{
    width: 40%;
    float: left;
    margin: 40px;
}
.bio-left h3{
    font-size: 35px;
    text-transform: capitalize;
    line-height: 0.5em;

}
.bio-left p{
    text-align: justify;
    color:white;
}
.footer-icons i{
    color: black;
    padding: 15px;
    font-size: 20px;
}
.footer-icons{
    padding-left: 50px;
}
.bio-right{
    width: 40%;
    float: right;
    margin-top: 25px;
}
.bio-right h3{
    font-size: 35px;
    font-weight: 900;
}
span{
    display:block;
    line-height: 40px;
    color: white;
}
.bio-right i{
    color: black;
}

.copyright{
    text-align: center;
    padding-bottom: 20px;
    font-size: 14px;
    border-top: 2px solid #242222;
}
.copyright span{
    color: #ffffff88;
    padding-top: 5px;
}

/*.................End Footer Area..............*/ 









/*.....................tatatatatatatatatatat...............*/